/* add your custom styles here if you want */
#header{


}
#page_middle{
    background: none;
}
#page_middle > .content {
    border:none;
}
#top_menu_pin > a {
    background: #555 url(../../../../plugin_pin/images/pin_small.png) no-repeat center;
}
.nav {
    padding: 0 0 4px;
    border: 0;
    /*margin: -5px -10px 0 -10px;*/
}
.final_content_wrap{
    min-height: 377px;
    margin: 10px 4px;
    padding: 10px;
    border-radius: 6px;
}
.content{
    padding: 0;
    background: none;
}
.nav > ul > li > a, .nav > ul > li > a:link, .nav > ul > li > a:visited{
}
.menu_label{
    text-shadow: none;
    background: #AAA;
}
#ajax_search_text{
    color:#BABABA;
}
#quick_search_box{
    margin: 0;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid #555 !important;
    text-decoration: none;
    margin: 0;
    text-shadow: none;
    padding: 7px 2px 20px 1px;
    line-height: 1;
}
#quick_search_placeholder{
    background: none;
    padding: 2px 0 0 9px;
}
.nav > ul > li > a, .nav > ul > li > a:link, .nav > ul > li > a:visited{
}
#page_middle .nav ul li,
.nav > ul > li {
    margin: 0 3px 6px 3px;
    border: 1px solid #2E2E2E !important;
    border-radius: 6px;
}
.nav > ul > li > a, .nav > ul > li > a:link, .nav > ul > li > a:visited,
.nav > ul > li > a{
    border: 1px solid #555 !important;
    border-radius: 6px;
    text-decoration: none;
    margin: 0;
    text-shadow: 0 1px 0 #303030;
    padding-bottom: 20px;
    line-height: 1;
}
.nav > ul > li.link_current > a, .nav > ul > li.link_current > a:link, .nav > ul > li.link_current > a:visited,
#page_middle .nav ul li.link_current a, #page_middle .nav ul li.link_current a:link, #page_middle .nav ul li.link_current a:visited{
    border: 1px solid #555 !important;
    text-shadow: none;
}
#page_middle .nav ul li a:hover,
.nav>ul>li>a:hover{
    text-shadow: none;
}
#page_middle .nav ul{
    padding: 5px 0 0 10px;
}

#page_middle .nav{
    border: 0;
    margin: 0;
}
.tableclass_rows thead th{
    background-color:#555;
}
.content_box_wheader{
    border-left:1px solid #DFDFDF;
    border-right:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    margin:-1px 0 10px 0;
    background: #FFF;
    padding: 7px;
}
h1,h2{
    border-radius: 6px;
}
h1 a,h1 a:link,h1 a:visited,
h2 a,h2 a:link,h2 a:visited,
h3 a,h3 a:link,h3 a:visited{
    color:#555;
}
.pagination_summary,
.pagination_summary a{
    color: #555;
}
h2 span.button{
    margin: -2px 4px 0 0;
}

.login_wrap{
    width:600px;
    margin: 0 auto;
}


/* settings button */
[data-settings-url] .data-settings-button{
    display: none;
    position: absolute;
}
[data-settings-url] .data-settings-button a{
    position: relative;
    display: block;
    text-indent: 100px;
    overflow: hidden;
    width:20px;
    height:20px;
}
[data-settings-url] .data-settings-button a:before{
    position: absolute;
    top: 1px;
    left: -96px;
    content: "\273F";
    font-size: 15px;
    display: block;
    width: 20px;
    height: 20px;
    color:#E5E5E5;
}
[data-settings-url]:hover .data-settings-button{
    display: block;
}
.data-settings-right{
    right:10px;
}